*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h6{
    color: rgb(95, 94, 94);
}

.search-btn:hover{
    color: #5e46ad !important;
}


li:hover{
    cursor: pointer;
    transform: scale(1.04);
}


.main {
    background-color: rgb(119, 145, 196); 
    color: #fff;
}

.login-heading{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn1{
    background-color: antiquewhite;
    height: 3rem;
    width: 10rem;
    color: rgb(119, 145, 196) ;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn1:hover{
    border: 2px solid antiquewhite;
}

/*-------------Home page --------------  */


.aside{
    background-color: #5e46ad;
}

.aside-ul{
    margin-top: -100px;
}

.home-header{
    background: url("../../assets/home-header.jpg") center/cover no-repeat;

}

.h-20{
    height: 2.2rem;
}

.w-40{
    width: 30rem;
}

.card:hover{
    transform: scale(1.03);
    cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.d-flex::-webkit-scrollbar {
    display: none;
}
